In [1]:
from pymongo import MongoClient
from pprint import pprint

client = MongoClient()
db = client.lab02
col = db.pypeople

# Exercise: Basic CRUD

## Insert

In [5]:
col.insert_one({'name': 'Jisu', 'age': 24})

In [6]:
pprint(list(col.find()))

[{'_id': ObjectId('5c77407d65d101115c82572b'), 'age': 24, 'name': 'Jisu'}]

In [7]:
col.insert_many([{'name': 'Deayoung', 'age': 51}, {'name': 'Youngjin', 'age': 24}])

In [8]:
pprint(list(col.find()))

[{'_id': ObjectId('5c77407d65d101115c82572b'), 'age': 24, 'name': 'Jisu'},
 {'_id': ObjectId('5c7740aa65d101115c82572c'), 'age': 51, 'name': 'Deayoung'},
 {'_id': ObjectId('5c7740aa65d101115c82572d'), 'age': 24, 'name': 'Youngjin'}]

## Update

In [9]:
col.update_one({'name': 'Deayoung'}, {'$set' : {'location': 'Seoul'}})

In [10]:
pprint(list(col.find()))

[{'_id': ObjectId('5c77407d65d101115c82572b'), 'age': 24, 'name': 'Jisu'},
 {'_id': ObjectId('5c7740aa65d101115c82572c'),
  'age': 51,
  'location': 'Seoul',
  'name': 'Deayoung'},
 {'_id': ObjectId('5c7740aa65d101115c82572d'), 'age': 24, 'name': 'Youngjin'}]

In [11]:
col.update_many({'age': 24}, {'$set' : {'location': 'Suwon'}})

In [12]:
pprint(list(col.find()))

[{'_id': ObjectId('5c77407d65d101115c82572b'),
  'age': 24,
  'location': 'Suwon',
  'name': 'Jisu'},
 {'_id': ObjectId('5c7740aa65d101115c82572c'),
  'age': 51,
  'location': 'Seoul',
  'name': 'Deayoung'},
 {'_id': ObjectId('5c7740aa65d101115c82572d'),
  'age': 24,
  'location': 'Suwon',
  'name': 'Youngjin'}]

## Delete

In [13]:
col.delete_many({'location': 'Suwon'})

In [14]:
pprint(list(col.find()))

[{'_id': ObjectId('5c7740aa65d101115c82572c'),
  'age': 51,
  'location': 'Seoul',
  'name': 'Deayoung'}]

In [15]:
client.close()