In [1]:
from pymongo import MongoClient
import pymongo
from pprint import pprint

client = MongoClient()
db = client.geo
restaurants = db.restaurants

# Ex 1-1

In [2]:
result = restaurants.aggregate(
    [{ "$match": { "cuisine": "Korean"}},
     { "$group": { "_id": "$borough", "count": { "$sum": 1 } } } 
    ]) 
pprint(list(result))

[{'_id': 'Brooklyn', 'count': 16},
 {'_id': 'Queens', 'count': 167},
 {'_id': 'Staten Island', 'count': 1},
 {'_id': 'Manhattan', 'count': 78}]

# Ex 1-2

In [9]:
result1 = restaurants.aggregate(
    [ { "$match": { "cuisine": 'Korean'}},{"$limit":1}])
pprint(list(result1))

[{'_id': ObjectId('5c8626729f44c9f6767fd99f'),
  'address': {'building': '1250',
              'coord': [-73.9879627, 40.7478473],
              'street': 'Broadway',
              'zipcode': '10001'},
  'borough': 'Manhattan',
  'cuisine': 'Korean',
  'grades': [{'date': datetime.datetime(2014, 11, 13, 0, 0),
              'grade': 'Z',
              'score': 17},
             {'date': datetime.datetime(2014, 6, 30, 0, 0),
              'grade': 'C',
              'score': 30},
             {'date': datetime.datetime(2013, 10, 21, 0, 0),
              'grade': 'A',
              'score': 13},
             {'date': datetime.datetime(2013, 4, 19, 0, 0),
              'grade': 'A',
              'score': 11},
             {'date': datetime.datetime(2012, 8, 13, 0, 0),
              'grade': 'B',
              'score': 20},
             {'date': datetime.datetime(2012, 3, 5, 0, 0),
              'grade': 'A',
              'score': 13}],
  'name': 'Kang Suh Korean Restaurant',
  'restaurant_id': '40378729'}]

In [10]:
result = restaurants.aggregate(
    [ { "$match": { "cuisine": 'Korean'}},
      {"$unwind": '$grades'},
      {"$limit":6}
    ])

pprint(list(result))

[{'_id': ObjectId('5c8626729f44c9f6767fd99f'),
  'address': {'building': '1250',
              'coord': [-73.9879627, 40.7478473],
              'street': 'Broadway',
              'zipcode': '10001'},
  'borough': 'Manhattan',
  'cuisine': 'Korean',
  'grades': {'date': datetime.datetime(2014, 11, 13, 0, 0),
             'grade': 'Z',
             'score': 17},
  'name': 'Kang Suh Korean Restaurant',
  'restaurant_id': '40378729'},
 {'_id': ObjectId('5c8626729f44c9f6767fd99f'),
  'address': {'building': '1250',
              'coord': [-73.9879627, 40.7478473],
              'street': 'Broadway',
              'zipcode': '10001'},
  'borough': 'Manhattan',
  'cuisine': 'Korean',
  'grades': {'date': datetime.datetime(2014, 6, 30, 0, 0),
             'grade': 'C',
             'score': 30},
  'name': 'Kang Suh Korean Restaurant',
  'restaurant_id': '40378729'},
 {'_id': ObjectId('5c8626729f44c9f6767fd99f'),
  'address': {'building': '1250',
              'coord': [-73.9879627, 40.7478473],
              'street': 'Broadway',
              'zipcode': '10001'},
  'borough': 'Manhattan',
  'cuisine': 'Korean',
  'grades': {'date': datetime.datetime(2013, 10, 21, 0, 0),
             'grade': 'A',
             'score': 13},
  'name': 'Kang Suh Korean Restaurant',
  'restaurant_id': '40378729'},
 {'_id': ObjectId('5c8626729f44c9f6767fd99f'),
  'address': {'building': '1250',
              'coord': [-73.9879627, 40.7478473],
              'street': 'Broadway',
              'zipcode': '10001'},
  'borough': 'Manhattan',
  'cuisine': 'Korean',
  'grades': {'date': datetime.datetime(2013, 4, 19, 0, 0),
             'grade': 'A',
             'score': 11},
  'name': 'Kang Suh Korean Restaurant',
  'restaurant_id': '40378729'},
 {'_id': ObjectId('5c8626729f44c9f6767fd99f'),
  'address': {'building': '1250',
              'coord': [-73.9879627, 40.7478473],
              'street': 'Broadway',
              'zipcode': '10001'},
  'borough': 'Manhattan',
  'cuisine': 'Korean',
  'grades': {'date': datetime.datetime(2012, 8, 13, 0, 0),
             'grade': 'B',
             'score': 20},
  'name': 'Kang Suh Korean Restaurant',
  'restaurant_id': '40378729'},
 {'_id': ObjectId('5c8626729f44c9f6767fd99f'),
  'address': {'building': '1250',
              'coord': [-73.9879627, 40.7478473],
              'street': 'Broadway',
              'zipcode': '10001'},
  'borough': 'Manhattan',
  'cuisine': 'Korean',
  'grades': {'date': datetime.datetime(2012, 3, 5, 0, 0),
             'grade': 'A',
             'score': 13},
  'name': 'Kang Suh Korean Restaurant',
  'restaurant_id': '40378729'}]

In [11]:
result = restaurants.aggregate(
    [{"$match": { "cuisine": 'Korean'}},
     {"$unwind": '$grades'},
     {"$group": { "_id": {"borough": '$borough', "grade": '$grades.grade'},
                  "count": { "$sum": 1 } }},
     {"$sort":SON([("count", -1)])}, 
     {"$limit":5} 
    ])

pprint(list(result))

[{'_id': {'borough': 'Queens', 'grade': 'A'}, 'count': 443},
 {'_id': {'borough': 'Manhattan', 'grade': 'A'}, 'count': 232},
 {'_id': {'borough': 'Queens', 'grade': 'B'}, 'count': 140},
 {'_id': {'borough': 'Manhattan', 'grade': 'B'}, 'count': 49},
 {'_id': {'borough': 'Brooklyn', 'grade': 'A'}, 'count': 38}]

In [12]:
client.close()